YO estructural/n8n_setup/workflows/workflow_test_simple.json
{
  "name": "Test Simple - Solo Respuesta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-simple",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "test-simple"
    },
    {
      "parameters": {
        "jsCode": "const concepto = $input.item.json.concepto || 'SOPORTE';\n\nreturn {\n  mensaje: 'Sistema YO Estructural funcionando',\n  concepto_recibido: concepto,\n  timestamp: new Date().toISOString(),\n  status: 'ok',\n  datos_ejemplo: {\n    rutas: ['ruta1', 'ruta2', 'ruta3'],\n    certeza: 0.95\n  }\n};"
      },
      "name": "Procesar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}"
      },
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Procesar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
